@model Pivec.Promotion.Web.ViewModels.CustomerSearchViewModel

@{
    ViewBag.Title = "Registered Customers";
}

<h2>Registered Customers</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "mm/dd/yy" });
		$("#btnExport").click(
			function () {
				document.location.href='/customer/exportcsv'
			}
		);
    });


</script>

@using (Html.BeginForm())
 {
     <div>
         @Html.ValidationSummary(true)

         <fieldset>


             <div class="editor-label">
                 @Html.LabelFor(model => model.DealerId)

                 @Html.DropDownList("DealerId", "All")
                 @Html.ValidationMessageFor(model => model.DealerId)
				 </div>
				 <div class="editor-label">
                 @Html.LabelFor(model => model.SalespersonCode)

                 @Html.EditorFor(model => model.SalespersonCode)
                 @Html.ValidationMessageFor(model => model.SalespersonCode)
				 </div>
				 <div class="editor-label">
                 @Html.LabelFor(model => model.DateFrom)

                @Html.TextBox("DateFrom", (Model.DateFrom.HasValue ? Model.DateFrom.Value.ToShortDateString() : string.Empty), new { @class = "date" })

                 @Html.LabelFor(model => model.DateTo)

                @Html.TextBox("DateTo", (Model.DateTo.HasValue ? Model.DateTo.Value.ToShortDateString() : string.Empty), new { @class = "date" })
             <p>
                 <input type="submit" value="Search" />
             </p>
             </div>


         </fieldset>
     </div>
 }  
    
<table>
    <tr>
        <th>
            Dealer
        </th>
        <th>
            Salesperson Code
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Street Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip Code
        </th>
        <th>
            Email
        </th>
        <th>
            Date Created
        </th>

    </tr>

@foreach (var item in Model.Customers)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dealer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalespersonCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
    </tr>
}

</table>

<button id="btnExport">Export to Excel</button>
@*@Html.ActionLink("Export to Excel", "Export", "Customer")*@